<h1> Expence Manager </h1>
<p>Manage all your expences with hassle free </p>

<div class="well">
<%= link_to "+ Add Expense", new_expense_path, class: "btn btn-small btn-success" %>
<%= link_to "+ Add Category", new_category_path, class: "btn btn-small btn-success" %>
</div>

<h3>Benefits:</h3>
<ul>
	<li>sorting the expenditures based on the categories.</li>
	<li>sorting the expenditures based on the period of time.</li>
	<li>Addition & deletion of personal categories.</li>
	<li>Graph charts based on certain time periods.</li>
	<li>Download all the expense list in the excel sheet</li>
</ul>
